<figure class="figure">
  <img src="{{ lego.imagen }}" class="figure-img img-fluid rounded" width="50%">
  <figcaption class="figure-caption">
    <h4>Paquete: {{lego.paquete}} {{lego.modelo}}</h4>
    <h5>Creación: {{lego.fechaCreacion}}</h5>
    <h5>Descripción: {{lego.descripcion}}</h5>
    <h5>Tiendas: {{lego.tiendas}}</h5>
    <h5>Precio: {{lego.precio}}€</h5>
  </figcaption>
</figure>

<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Vuelta
    </button>
    <button class="btn btn-outline-primary"
            style="width:80px"
            (click)="goEdit()">
      Edit
    </button>
  </div>
</div>
